body {
  color: rgba(255, 255, 255, .7);
  background-color: #212121;
}
.container {
  /*background: url("../../../images/bg.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
#groups-dd option {
  background: #333;
}
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.fa-heart:before {
  content: "\F004";
}
.fa-group:before,
.fa-users:before {
  color: dodgerblue;
}
.footer .groups-dd {
    margin-left: 8px;
    border-color: #222;
}
/**                                                 **
  * --------------------BUTTONS---------------------- *
  *-------------------------------------------------- */
.btn:not(.btn-raised),
.input-group-btn .btn:not(.btn-raised),
.btn:not(.btn-raised).btn-default,
.input-group-btn .btn:not(.btn-raised).btn-default {
  border: 1px solid rgba(111, 111, 111, .16);
}
.btn-default {
  background: #333333;
  color: #fff;
}
.btn-default.active {
  background: #777676 !important;
  color: #fff !important;
}
.btn-default.active:hover, .btn-default.active:focus, .btn-default.active:active {
  background: #777676 !important;
  color: #fff !important;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
  background: #222;
  color: #777676;
}
.btn-group .btn {
  background: rgba(12, 12, 12, 0) !important;
}
.btn-group .btn.active, .btn-group .btn:hover {
  background: #1a1a1a !important;
  color: #fff;
}
/**                                                 **
  * --------------------RADIO------------------------ *
  *-------------------------------------------------- */
/*--unchecked---*/
.radio .circle,
label.radio-inline .circle {
  border-color: rgba(255, 255, 255, .6);
}
/*--checked--*/
.radio input[type="radio"]:checked ~ .check,
label.radio-inline input[type="radio"]:checked ~ .check {
  background-color: rgba(255, 255, 255, .7);
}
.radio input[type="radio"]:checked ~ .circle,
label.radio-inline input[type="radio"]:checked ~ .circle {
  border-color: rgba(255, 255, 255, .7);
}
/**                                                 **
  * --------------------FORMS------------------------ *
  *-------------------------------------------------- */
.form-group.is-focused label {
  color: rgba(255, 255, 255, .5) !important;
}
.form-group.is-focused label.control-label {
  color: rgba(255, 255, 255, .5) !important;
}
.form-group .form-control {
  background: transparent;
  border: 1px solid #333;
  border-radius: 0px;
  padding: 2px 12px;
}
.form-group.is-focused .form-control {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), to(#333)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
  background-image: linear-gradient(#5a5a5a, #333), linear-gradient(#d2d2d2, #d2d2d2);
}
.form-group .form-control {
  color: rgba(255, 255, 255, .7);
}
.form-horizontal .form-group {
  background: rgba(30, 30, 30, .29);
  padding: 4px 0px;
  margin: 8px 0px 8px;
}
/**                                                 **
  * --------------------ITEMS------------------------ *
  *-------------------------------------------------- */
.items > div:hover {
  background: rgba(33, 36, 41, .47);
}
.items .item {
  border-bottom: 1px solid #222;
}
.label.label-default {
  border-radius: 3px;
  padding: 1px 4px;
  background: #373737;
  border: 1px solid #3d3d3d;
  color: rgba(255, 255, 255, .6);
  font-weight: 100;
  margin-left: 10px;
  -webkit-box-shadow: 1px 3px 10px 3px rgba(22, 22, 22, .35);
          box-shadow: 1px 3px 10px 3px rgba(22, 22, 22, .35);
}
.action-items a {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .69);
}
.item-comments {
  font-weight: 100;
  font-size: 11px;
  font-style: italic;
}
.notification-item .comment {
  color: #FFF;
}
.notification-item .fa-heart {
  color: #b33660;
}
.notification-item .fa-comment {
  color: #1dac1d;
}
.notification-item .fa-link {
  color: #348afd;
}
.notification-item .fa-user {
  color: #fffe19;
}
.notification-item .fa-sign-in {
  color: #f48468;
}
.strong {
  font-weight: bold;
  color: #ccc;
}
/**                                                 **
  * --------------------LINKS----------------------- *
  *-------------------------------------------------- */
a {
  color: rgba(255, 255, 255, .5);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:focus, a:active {
  color: rgba(255, 255, 255, .5);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover {
  color: rgba(255, 255, 255, 1);
}
/*------------------------MAIN CONTENT AREA-------------------------------------*/
/**                                                 **
  * --------------------NAVTABS---------------------- *
  *-------------------------------------------------- */
/* .nav .active .short-border {
    border-top: 1px solid white;
  } */
.nav-tabs {
  background: #272b30;
  border-bottom: none;
}
.nav-tabs > li > a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: rgba(255, 255, 255, .5);
}
.nav-tabs > li.active > a {
  color: rgba(255, 255, 255, .7);
  background-color: #121212;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: rgba(255, 255, 255, .7);
  background-color: #121212;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: transparent;
  background-color: #121212;
}
.main-nav li.active {
  /* border-bottom: 1px groove #fff; */
}
/**                                                 **
  * --------------------NAVPILLS--------------------- *
  *-------------------------------------------------- */
.nav-pills > li.active > a {
  background: transparent;
}
.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background: transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
  background: transparent;
}
.inner-tab-content {
  padding: 0px;
}
.nav.secondary-nav {
  border-bottom: 1px solid #222;
}
/* .inner-tab-content .tab-pane {
    height: 375px;
    overflow-y: scroll;
    padding: 16px;
    padding-bottom: 8px;
  } */
/**                                                 **
  * --------------------SCROLLBAR-------------------- *
  *-------------------------------------------------- */
::-webkit-scrollbar-track {
  background-color: #121212;
}
::-webkit-scrollbar {
  background-color: #272b30;
}
::-webkit-scrollbar-thumb {
  background-color: #9e9c9c;
}
.comments-section {
  background: rgba(0, 0, 0, .36);
}
/**                                                 **
  * --------------------TABLE----------------------- *
  *-------------------------------------------------- */
.table {
  color: #999;
}
.table td,
.table th,
.table thead th {
  border-color: rgba(255, 255, 255, .06);
}
.table td,
.table th,
.table thead th {
  border-color: rgba(111, 111, 111, .16);
}
.table > thead > tr > th {
  border-bottom: 1px solid rgba(111, 111, 111, .16);
}
.table > tbody > tr > td,
.table > tbody > tr > th {
  padding: 1rem 0.8rem;
  vertical-align: top;
  border-top: 1px solid rgba(111, 111, 111, .16);
}
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  padding: 1rem 0.8rem;
  vertical-align: top;
  border-top: 1px solid rgba(111, 111, 111, .16);
}
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 1rem 0.8rem;
  vertical-align: top;
  border-top: 1px solid rgba(111, 111, 111, .16);
}
.table-hover > tbody > tr:hover {
  background-color: transparent;
}
#groups-table th {
  color: #fff;
}
/**                                                 **
  * --------------------DROPDOWNS-------------------- *
  *-------------------------------------------------- */
.groups-dd {
  background: transparent;
}
.groups-dd option {
  background: #555;
  border: 1px solid #000;
}
/**                                                 **
  * --------------------MANAGE GROUPS---------------- *
  *-------------------------------------------------- */
.modal-backdrop {
  background-color: #3e3e3e;
  opacity: 0.8;
}
.modal-content {
  background: #121212;
}
/**                                                 **
  * --------------------RADIO BUTTONS---------------- *
  *-------------------------------------------------- */
input[type="radio"] {
  background-color: #333;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-right: 15px;
  position: relative;
  width: 15px;
  -webkit-appearance: none;
  outline: none;
}
input[type="radio"]:focus {
  outline: none;
}
input[type="radio"]:after {
  background-color: #444;
  border-radius: 25px;
  content: "";
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}
input[type="radio"]:checked:after {
  background-color: #fff;
}

/*# sourceMappingURL=dark.css.map*/