.group-name {
    word-break: break-all;
}

.main-nav .tab-content > .tab-pane {
    padding: 0px 24px;
}
.main-nav .tab-content > .tab-pane p {
    margin-top: 8px;
}
#tab-manage-groups {
    padding: 0px;
}
.tab-pane .authorized {
    margin-top: 8px;
}
.tab-content.about {
    margin-top: 8px;
}
