.item {
    margin-bottom: 1px;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #232323;
}

.item.left .items-body {
    margin-left: 85px;
}

.item .items-body p {
    margin: 0;
}

span.favourite {
    color: #ce4d4d;
    cursor: pointer;
    margin-right: 6px;
}

.items-img {
    margin-top: 4px;
}

.action-links {
    margin-right: 25px;
    font-size: 11px;
}

.action-links .term {
    margin-left: 0px;
}

.count {
    background: rgba(255, 15, 15, 0.84);
    color: #fff;
    padding: 2px 5px;
    font-size: 9px;
    margin-left: -60px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
